@import '~bootstrap/scss/functions';
@import './helpers/variable';
@import '~bootstrap/scss/bootstrap.scss';

@import './helpers/card';

.hot-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 5px;
    margin: 1rem 0;

    &::before,
    &::after {
        content: "";
        flex: 1;
        margin: 0 2rem;
        border: 0.5px solid #212728;
    }
}